<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/Styles/Style1.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header><a href="/index">Back</a></header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
