@page
@model HomeWork1.Pages.IndexModel
@{
    Layout = "_Layout.cshtml";
}

<div id="task">
    <div class="option"><a href="/hello">Say hello</a></div>
    <div class="option"><a href="/date">Show date and time</a></div>
    <div class="option"><a href="/windString">Show appsettings.json string</a></div>
    <div class="option"><a href="/quote">Show random quote</a></div>
</div>