@model ForgotPasswordViewModel

<!DOCTYPE HTML>
<html>
<head>
    <link href="~/css/MyCSS/ForgotPassword.css" rel="stylesheet" />
</head>
<body class="bg-dark">
    <div class="container bootstrap snippets bootdey d-flex justify-content-center w-100 col-md-6 col-md-offset-2">
        <div class="panel-body row">
            <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box">
                <br>
                <img alt="" class="" src="https://pedmis.gov.lk/view/public/images/reset.png">
            </div>
            <div id="password-recover" class="col-xs-6 col-sm-6 col-md-6 login-box">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "form", novalidate = "" }))
                {
                    <input type="text" name="Email" class="form-control mb-1" placeholder="E-mail adress" value="@Model.Email" pattern="[a-zA-Z0-9._%+-]+@("@")[a-z0-9.-]+\.[a-z]{2,3}$" required>
                    <div class="invalid-feedback">
                        Invalid e-mail adress.
                    </div>
                    @Html.ValidationMessageFor(email => Model.Email)
                    @Html.ValidationSummary(true)
                    <div class="mb-5">
                        <small class="text-white">
                            After filling the form out, you will receive an e-mail with a new password.
                        </small>
                    </div>
                    <input class="btn btn-info border border-white" type="submit" value="Change password">
                }

            </div>
        </div>
    </div>
</body>
</html>
