body {
    background-color: cornsilk;
}

.look-calendar {
    border:1px solid #c0c0c0;
    padding:6px;
    width: 300px;
    height: 150px;
    position: absolute;
    top: 50%;
    margin-top: -75px;
    left: 50%;
    margin-left: -150px;
    background-color: cornsilk;
}
#calendar {
    width: 100%;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
    border-spacing:0px;
}
#calendar tr.dn td {
    font-size: 15px;
}
#calendar thead tr:last-child {
    font-size: small;
    color: #555555;
}
#calendar thead tr:nth-child(1) td:nth-child(2) {
    color: #323232;
}
#calendar thead tr:nth-child(1) td:nth-child(1):hover,
#calendar thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
}
#calendar tbody td {
    color: #2c567a;
}
#calendar tbody td:nth-child(n+6),
#calendar .holiday {
    color: #e78c5c;
}
#calendar tbody td.today {
    background: #dc0000;
    color: #fff;
}

#month {
    position: absolute;
    top: 20%;
    left: 33%;
}

#year {
    position: absolute;
    top: 20%;
    left: 53%;
}

#generate {
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 47%
}